Line endings altered

Hi,

I liked the simplicity of this tool, so I used it to debug a email sending component.

Unfortunately the code "changes" the data it receives. There a few issues with convertStreamToString():
- I want to see all headers received, the first 4 lines should not be cut away
- readLine() works with LF and CRLF, where CRLF is the expected one (according to RFC2821 section 4.1.1.4). When you write it out, you append only LF (on unix). So the data is altered and you don't know what came in originally.

I think it would be better to just read and dump the stream, without modifying it. 